// 顶部动态图片
#app:before {
  content: "";
  background: url(https://ae01.alicdn.com/kf/HTB1y5zVXv1H3KVjSZFH762KppXaH.png);
  height: 3px;
  top: 0;
  position: fixed;
  width: 100%;
  Z-index: 9999;
}
// header 左上角字体 - 流光
#app .site-name {
  font-family: "楷体";
  font-size: 1.4rem;
  background: -webkit-linear-gradient(45deg, rgb(112, 247, 254), rgb(251, 215, 198), rgb(253, 239, 172), rgb(191, 181, 221), rgb(190, 213, 245));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: stream 3s infinite linear;
  background-size: 200% 100%;
}
@keyframes stream {
  0%  {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}